.subLabel {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 20px !important;
  color: #aebbe4 !important;
}

.title {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #32406d !important;
  opacity: 0.9 !important;
}

.creditButton {
  width: 69px;
  height: 61px;
}

.selected {
  color: white !important;
}